<%= bootstrap_form_for(@article, layout: :horizontal, label_col: "col-sx-4 col-sm-1", control_col: "col-xs-8 col-sm-11", :remote => true) do |f| %>
  	<%= errors_for(@article) %>
    <%= f.text_field :title, class: "col-xs-4 col-md-8" %>
    <% category_array = Category.all.collect { |cat| [cat.name, cat.id] } %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: 'Select category'}, class: "select2" %>
    <%= f.text_area :body, class: "wysihtml5" %>
    <%= f.text_field :tag_list, class: "col-xs-4 col-md-8" %>
    <%= f.file_field :image, class: "col-xs-4 col-md-8" %>
    <hr/>
    <div class="pull-right">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    <%= link_to 'Back', articles_path, role: "button", class: "btn btn-info", :remote => true %>
<% end %>
