<%= bootstrap_form_for(@article,  layout: :horizontal, label_col: "col-sx-4 col-sm-1", control_col: "col-xs-8 col-sm-11") do |f| %>
  	<% if @article.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      		<ul>
      			<% @article.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>
    <%= f.text_field :title, class: "col-xs-4 col-md-8" %>
    <%= f.text_area :body, class: "wysihtml5" %>
    <%= f.text_field :tag_list, class: "col-xs-4 col-md-8" %>
    <%= f.file_field :image, class: "col-xs-4 col-md-8" %>
    <hr/>
    <div class="pull-right">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
    <%= link_to 'Back', articles_path, role: "button", class: "btn btn-info" %>
<% end %>
