<h1 class="page-header">
  Show Article
  <%= link_to 'Edit', edit_article_path(@article), role: "button", class: "btn btn-primary", :remote => true %>
</h1>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-1">
    <strong>Title:</strong>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-11">
    <p class="lead">
      <%= @article.title %>
    </p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-1">
    <strong>Category:</strong>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-11">
    <p class="lead">
      <% if defined?(@article.category.name) %>
        <%= @article.category.name %>
      <% else %>
        No category
      <% end %>
    </p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-1">
    <strong>Body:</strong>
    <div class="col-xs-10 col-sm-10 col-md-11">
      <p class="lead">
        <%= @article.body.html_safe %>
      </p>
    </div>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-1">
    <strong>Body:</strong>
    <div class="col-xs-10 col-sm-10 col-md-11">
      <p class="lead">
        <%= @article.image_file_name %>
        <%= image_tag @article.image.url %>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <h1>Add a comment</h1>
  <%= bootstrap_form_for([@article, @comment],  layout: :horizontal, label_col: "col-sx-4 col-sm-1", control_col: "col-xs-8 col-sm-11") do |f| %>
    <%= f.text_field :author, class: "col-xs-4 col-md-8" %>
    <%= f.text_area :body, class: "wysihtml5" %>
    <%= f.submit %>
  <% end %>
  <h1>Comments</h1>
  <ul>
    <% @article.comments.each do |comment| %>
      <li><%= comment.author %> : <%= comment.body %></li>
    <% end %>
  </ul>
</div>
<h3>Tags</h3>
<ul>
<% @article.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>
<hr/>
<div class="row">
  <%= link_to 'Back', articles_path, role: "button", class: "btn btn-info", :remote => true %>
</div>
